body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

.container {
  max-width: 1000px;
  margin-block: 30px;
  margin-inline: auto;
  margin-bottom: 10%;
  padding-inline: 5%;
}
