.places {
  h1 {
    font-size: 30px;
  }


  .places_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    article {
      width: 390px;
      padding: 20px;
      margin: 20px;
      border: #FF5A5F solid 1px;
      border-radius: 4px;

      .card_header {
        display: flex;
        justify-content: center;
        padding-bottom: 2em;

        h2 {
          font-size: 30px;
          text-align: center;
          margin-top: 0;
          flex: 1;
          margin-left: 10%;
        }

        .price_by_night {
          color: #FF5A5F;
          border: #FF5A5F solid 4px;
          min-width: 60px;
          height: 60px;
          font-size: 30px;
          border-radius: 50%;
          text-align: center;
          padding-top: 10px;
          padding-inline: 8px;
        }
      }

      .information {
        height: 80px;
        border-block: #DDDDDD solid 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;

        div {
          width: 100px;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 10px;

          span {
            margin-top: 2.5em;
          }

          &.max_guest {
            background: url(../images/icon_group.png) no-repeat top center;
          }

          &.number_rooms {
            background: url(../images/icon_bed.png) no-repeat top center;
          }

          &.number_bathrooms {
            background: url(../images/icon_bath.png) no-repeat top center;
          }
        }
      }

      .user {
        margin-top: 2em;
        margin-bottom: .5em;
      }

      .amenities,
      .reviews {
        margin-top: 40px;

        h2 {
          font-size: 16px;
          border-bottom: #DDDDDD solid 1px;
          padding-bottom: 10px;
        }
      }

      .amenities {
        li {
          list-style: none;
          height: 3em;
        }

        span {
          background-size: 1.6em 1.4em;
          padding-left: 3em;
        }
      }

      .reviews {
        h3 {
          font-size: 14px;
        }

        p {
          font-size: 12px;
        }

        li {
          list-style: none;
        }
      }
    }
  }
}


// amenities icons

.pets {
  background: url(../images/icon_pets.png) no-repeat left;
}

.pool {
  background: url(../images/icons8-outdoor-swimming-pool-50.png) no-repeat left;
}

.wifi {
  background: url(../images/icon_wifi.png) no-repeat left;
}

.room_service {
  background: url(../images/icons8-room-service-64.png) no-repeat left;
}

.restaurant {
  background: url(../images/icons8-restaurant-on-site-24.png) no-repeat left;
}

.pool_bar {
  background: url(../images/icons8-poolside-bar-50.png) no-repeat left;
}
